/* src/app/doctor-list/doctor-list.component.css */

.header-container {
  background-color: #007ac1;
  color: white;
  position: relative;
  margin: 0px;
  padding: 0px 20px 10px 0px;
}

.doctor-list-container {
  padding: 20px;
  text-align: center;
}
.doctor-card {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.doctor-card h3 {
  margin: 0;
}
