/* src/app/specialization-section/specialization-section.component.css */
.specialization-section {
  padding: 20px;
}

.specialization-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-title {
  padding: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

.buttons {
  text-align: center;
  margin-top: 20px;
}

.buttons button {
  background-color: #007ac1;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
  transition: background-color 0.3s;
}

.buttons button:hover {
  background-color: #005f8b;
}
