<div class="container">
  <header>
    <img src="assets/images/logo.png" alt="Health Connect Logo" class="logo">
    <div class="header-right">
      <button class="help-button">Centre d'aide</button>
      <div class="dropdown">
        <button class="dropbtn">S'authentifier autant que</button>
        <div class="dropdown-content">
          <button (click)="setUserType('doctor')" [class.active]="userType === 'doctor'">Doctor</button>
          <button (click)="setUserType('patient')" [class.active]="userType === 'patient'">Patient</button>
        </div>
      </div>
      <button class="login-button">Se connecter</button>
    </div>
  </header>
  <div class="main-content">
    <div class="login-box">
      <h2>J'ai deja un compte Health Connect</h2>
      <form (ngSubmit)="onSubmit()">
        <input type="email" id="email" [(ngModel)]="loginData.email" name="email" placeholder="Email" required>
        <input type="password" id="password" [(ngModel)]="loginData.password" name="password" placeholder="Mot de passe" required>
        <div class="options">
          <label>
            <input type="checkbox" [(ngModel)]="rememberMe" name="rememberMe"> Se souvenir de mon identifiant
          </label>
        </div>
        <button type="submit">Se Connecter</button>
        <a  class="forgot-password" (click)="openForgotPasswordModal()">MOT DE PASSE OUBLIE ?</a>
      </form>
    </div>
    <div class="signup-box">
      <h2>Nouveau Sur Health Connect ?</h2>
      <a routerLink="/register" class="signup-link">S'INSCRIRE</a>
    </div>
  </div>
  <footer>
  </footer>
</div>

<!-- Forgot Password Modal -->
<div *ngIf="showForgotPasswordModal" class="forgot-password-modal">
  <div class="modal-content">
    <span class="close" (click)="closeForgotPasswordModal()">&times;</span>
    <h2>Forgot Password</h2>
    <form (ngSubmit)="onForgotPasswordSubmit()">
      <input type="email" [(ngModel)]="forgotPasswordData.email" name="email" placeholder="Email" required>
      <div class="dropdown">
        <button class="dropbtn">{{ userType === 'doctor' ? 'Doctor' : 'Patient' }}</button>
        <div class="dropdown-content">
          <button type="button" (click)="setUserType('doctor')" [class.active]="userType === 'doctor'">Doctor</button>
          <button type="button" (click)="setUserType('patient')" [class.active]="userType === 'patient'">Patient</button>
        </div>
      </div>
      <button type="submit">Send OTP</button>
    </form>
  </div>
</div>
