<!-- footer.component.html -->
<footer class="footer">
  <div class="container">
    <div class="resources">
      <h3>Resources</h3>
      <ul>
        <li><a href="#">Blog</a></li>
        <li><a href="#">User guides</a></li>
        <li><a href="#">Webinars</a></li>
      </ul>
    </div>
    <div class="company">
      <h3>Company</h3>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Join Us</a></li>
      </ul>
    </div>
    <div class="subscribe">
      <h3>Subscribe to our newsletter</h3>
      <input type="email" placeholder="Input your email">
      <button>Subscribe</button>
    </div>
    <div class="copyright">
      <p>© 2022 Brand, Inc.</p>
      <ul>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Terms</a></li>
      </ul>
    </div>
  </div>
</footer>
